---
layout: blogindex
title: Recent Posts
---

<div class="flip-container">
    <div class="flipper">
        <section class="front">
            <div class="ui top secondary menu" style="overflow-x: auto">
                <div class="item">
                    <!--<i class="inverted big link bullseye icon dream-flip-toggle" title="Flip it!"></i>-->
                    <a href="/"
                        ><img
                            style="max-width:25px;"
                            src="/assets/img/aldenlogo-white.svg"
                    /></a>
                </div>
                <div class="item">
                    {% if paginator.previous_page %} {% if
                    paginator.previous_page != 1 %}
                    <a
                        href="{{ site.url }}/blog/page{{ paginator.previous_page }}"
                        ><i
                            class="enabled inverted big arrow circle outline left icon"
                            title="Previous page"
                        ></i
                    ></a>
                    {% else %}
                    <a href="{{ site.url }}/blog"
                        ><i
                            class="enabled inverted big arrow circle outline left icon"
                            title="Previous page"
                        ></i
                    ></a>
                    {% endif %} {% else %}
                    <i
                        class="disabled inverted big arrow circle outline left icon"
                        title="Previous page"
                    ></i>
                    {% endif %}
                </div>
                <div class="item">
                    {% if paginator.next_page %}
                    <a href="{{ site.url }}/blog/page{{ paginator.next_page }}"
                        ><i
                            class="enabled inverted big arrow circle outline right icon"
                            title="Next page"
                        ></i
                    ></a>
                    {% else %}
                    <i
                        class="disabled inverted big arrow circle outline right icon"
                        title="Next page"
                    ></i>
                    {% endif %}
                </div>
            </div>
            <div class="ui centered grid">
                <div
                    class="fifteen wide mobile fifteen wide tablet four wide computer column"
                >
                    <section
                        class="ui top attached center aligned inverted segment"
                    >
                        <div class="ui small circular image">
                            <img src="/assets/img/me2.svg" />
                        </div>
                        <h3 class="ui header">
                            Musings by {{ site.owner.first_name }}
                            <div class="sub header" style="color: white;">
                                {{ site.owner.tagline }}
                            </div>
                        </h3>
                    </section>
                </div>
                <div
                    class="fifteen wide mobile fifteen wide tablet eleven wide computer column post-list"
                >
                    <div class="ui two stackable cards">
                        {% for post in paginator.posts %}
                        <article class="black card">
                            <div class="image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a
                                                href="{{ site.url }}{{ post.url }}"
                                            >
                                                <h2
                                                    class="ui header"
                                                    style="color: white;"
                                                >
                                                    {{ post.title }}
                                                </h2>
                                            </a>
                                            <div
                                                class="ui top right attached black label"
                                            >
                                                {{ post.readTime }} read
                                            </div>
                                            <div
                                                class="ui bottom left attached black label"
                                            >
                                                <time
                                                    datetime="{{ post.date | date_to_xmlschema }}"
                                                    itemprop="datePublished"
                                                    >{{ post.date | date: "%B
                                                    %d, %Y" }}</time
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img
                                    src="
                        {% if post.image.feature %}
                          {% if post.image.feature contains 'https://' or post.image.feature contains 'http://' %}
                          {{ post.image.feature }}
                          {% else %}
                          {{ site.url }}/assets/img/{{ post.image.feature }}
                          {% endif %}
                        {% else %}
                          {{ site.url }}/assets/img/sky.jpg
                        {% endif %}
                        "
                                    alt="{{ post.title }}"
                                />
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/semantic.min.js"></script>
<script src="/assets/js/html2canvas.min.js"></script>
<script src="/assets/js/bg.js"></script>
<script src="/assets/js/site.js"></script>
