---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Alden Jenkins | 404 Error
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Alden Jenkins">
    <meta name="author" content="Alden Jenkins">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Designer, Developer amp; Deployer">
    <meta property="og:description" content="Designer, Developer amp; Deployer">
    <link rel="canonical" href="http://aldenjenkins.com">
    <meta property="og:url" content="http://aldenjenkins.com">
    <meta property="og:site_name" content="Alden Jenkins">
    <meta property="og:image" content="http://aldenjenkins.com/assets/img/og_thumbnail.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="@aldenjenks">
    <meta name="twitter:title" content="Alden Jenkins">
    <meta name="twitter:description" content="Designer, Developer &amp; Deployer. I design, build &amp; operate highly scalable web services, and I love what I do.">
    <meta name="twitter:image" content="http://aldenjenkins.com/assets/img/og_thumbnail.png">
    <meta name="twitter:image:alt" content="Alden Jenkins">
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script type="application/ld+json">
      {"@context":"http://schema.org","@type":"WebSite","name":"Alden Jenkins","headline":"Alden Jenkins","author":{"@type":"Person","name":"Alden Jenkins"},"description":"Designer, Developer &amp; Deployer","url":"http://aldenjenkins.com/"}
      
    </script>
  </head>
  <body>
    <section class="hero is-primary is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-two-thirds"><img src="../assets/img/404.png" style="margin-bottom: 60px;">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Nothing to see here...</h1>
              <h2 class="subtitle is-size-4-desktop">The page you are looking for doesn’t exist or has been moved. I'm terribly sorry for the inconvenience.</h2>
                <button class="button is-primary is-outlined is-medium is-inverted is-rounded" style="margin-top: 30px; height: auto;" onclick="location.href='https://aldenjenkins.com'" type="submit">Return to home</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../assets/js/main-min.js"></script>
  </body>
</html>
